/* SPDX-License-Identifier: Apache-2.0 */

&i2c0 {
	status = "ok";

    sda-pin = <27>;
	scl-pin = <26>;
};

&spi1 {
	status = "ok";
	mosi-pin = <23>;
	sck-pin = <25>;
	miso-pin = <24>;
};

&uart0 {
 status = "ok";
 compatible = "nordic,nrf-uart";
 current-speed = <9600>;
 tx-pin = <7>;
 rx-pin = <8>;
 };








